.tab-content {
    display: none;
  }
  
.tab-content.active {
    display: block;
}

.tabs ul {
    overflow: hidden;
    border: none;
    background-color: #eaeaea;
    position: sticky;
    top: 0;
    z-index: 7;
    display: flex;
}

.tabs ul a{
    background-color: #ffffff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-top-left-radius: 8px;
    /* Adjust as needed */
    border-top-right-radius: 8px;
    /* Adjust as needed */
    width: 180px;
    align-self: flex-end;
    margin-right: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: gray;

}

.tabs ul .active{
    background-color: #ffffff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-top-left-radius: 8px;
    /* Adjust as needed */
    border-top-right-radius: 8px;
    /* Adjust as needed */
    width: 180px;
    align-self: flex-end;
    margin-right: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: black;

}

.farmer-form{
    padding: 24px;
}

.code-form-btn{
    margin-top: 24px;
}