.purchase-data{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.data-table{
    height: 200px;
}

.farmer-photo{
    width: 200px;
    height: 200px;
    border: solid 1px black;
    margin: 20px;
    margin-left: 0;
}

.back-btn{
    padding:0;
}

.text-right{
    text-align: right;
}