<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cashier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/bootstrap/css/bootstrap.css') }}"
          type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/sweetalert2/sweetalert2.css') }}"
          type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/boxicons/css/boxicons.css') }}">
    <script src="{{ url_for('static', filename='/assets/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='/assets/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='/assets/sweetalert2/sweetalert2.js') }}"></script>
    <script src="{{ url_for('static', filename='/assets/quanggaJS/quanggaJS.js') }}"></script>
    <script src="{{ url_for('static', filename='/assets/html5-qrcode/js/html5-qrcode.min.js') }}"></script>
    <style>
        .farmer-photo {
            width: 200px;
            height: 200px;
            border: solid 1px black;
            margin: 20px;
            margin-left: 0;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Cahsier Payment</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                            type="button" role="tab" aria-controls="nav-home" aria-selected="true">Order Data
                    </button>
<!--                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"-->
<!--                            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Order Product-->
<!--                    </button>-->
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                            type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Payments
                    </button>
                </div>
            </nav>
        </div>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row">
                <div class="col-6">
                    <form>
                        <div class="form-group">
                            <label for="name">Order</label>
                            <input type="text" class="form-control" id="name" name="name"
                                   value="{{ purchase_order.name }}"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <label for="fund">Total</label>
                            <input type="text" class="form-control" id="po_amount" name="po"
                                   value="{{ purchase_order.amount_total }}"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <label for="fund">Farmer</label>
                            <input type="text" class="form-control" id="date" name="date"
                                   value="{{ NfcappFarmerOdoo.query.get(purchase_order.farmer_id).farmer_name }}"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <label for="fund">Status</label>
                            <input type="text" class="form-control" id="fund" name="fund"
                                   value="{{ purchase_order.status }}"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <label for="fund">Is Paid</label>
                            <input type="text" class="form-control" id="paid" name="paid"
                                   value="{{ 'Paid' if purchase_order.is_paid else 'Not Paid' }}"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <label for="fund">Debt</label>
                            <input type="text" class="form-control" id="po_debt" name="debt"
                                   value="{{ payment_debt }}"
                                   readonly>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <div class="farmer-photo">
                        <img width="200px" height="200px" src="/static/image/{{ purchase_order.farmer_id }}.png"
                             alt="Farmer Photo">
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Order</th>
                        <th>Product</th>
                        <th> Quantity</th>
                        <th style="text-align: right"> Price</th>
                        <th style="text-align: right"> Amount Total</th>
                        <th> Barcode</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in order_line %}
                    <tr>
                        <td> {{ order.purchase_order.name }}</td>
                        <td>
                            {{ ProductOdoo.query.filter_by(id=order.product_odoo_id).first().name }}
                        </td>
                        <td> {{ order.qty }}</td>
                        <td style="text-align: right;" class="currency" data-value="{{ order.unit_price }}">IDR {{
                            order.unit_price }}
                        </td>
                        <td style="text-align: right;" class="currency" data-value="{{ order.subtotal }}">IDR {{
                            order.subtotal }}
                        </td>
                        <td> {{ order.barcode }}</td>
                    </tr>
                    {% endfor %}

                    </tbody>

                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

            <table class="table">
                <thead>
                <tr>
                    <th>Order</th>
                    <th>Product</th>
                    <th> Quantity</th>
                    <th style="text-align: right"> Price</th>
                    <th style="text-align: right"> Amount Total</th>
                    <th> Barcode</th>
                </tr>
                </thead>
                <tbody>
                {% for order in order_line %}
                <tr>
                    <td> {{ order.purchase_order.name }}</td>
                    <td>
                        {{ ProductOdoo.query.filter_by(id=order.product_odoo_id).first().name }}
                    </td>
                    <td> {{ order.qty }}</td>
                    <td style="text-align: right;" class="currency" data-value="{{ order.unit_price }}">IDR {{
                        order.unit_price }}
                    </td>
                    <td style="text-align: right;" class="currency" data-value="{{ order.subtotal }}">IDR {{
                        order.subtotal }}
                    </td>
                    <td> {{ order.barcode }}</td>
                </tr>
                {% endfor %}

                </tbody>

            </table>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <table class="table">
                <thead>
                <tr>
                    <th>Created</th>
                    <th style="text-align: right;">Amount</th>
                    <th> Order</th>
                    <th> note</th>
                </tr>
                </thead>
                <tbody>
                {% for money in money_data %}
                <tr>
                    <td> {{ money.created }}</td>
                    <td style="text-align: right;" class="currency" data-value="{{ money.amount }}">IDR {{
                        money.amount }}
                    </td>
                    <td>
                        {{ PurchaseOrder.query.get(money.purchase_order_id).name }}
                    </td>
                    <td> {{ money.note }}</td>
                </tr>
                {% endfor %}

                </tbody>

            </table>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-3">
            <a href="/cashier/index?pe={{ purchase_order.purchase_event_id }}" class="btn btn-warning">Back</a>
            <button type="button" class="btn btn-success" id="addMoneyButton">Pay</button>
        </div>
    </div>
</div>
<div class="modal fade" id="addMoneyModal" tabindex="-1" role="dialog"
     aria-labelledby="addMoneyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMoneyModalLabel">Add Payment</h5>
            </div>
            <form action="/server/money/add" method="POST">
                <div class="modal-body">
                    <input type="hidden" name="purchase_order_id" value="{{ purchase_order.id }}">
                    <input type="hidden" name="purchase_event_id" value="{{ purchase_order.purchase_event_id }}">
                    <input type="hidden" name="type" value="credit">
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="number" class="form-control" value="{{ payment_debt }}" id="amount"
                               name="amount" step="0.01"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="note">Note</label>
                        <textarea class="form-control" id="note" name="note"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="addMoneyButtonClose" data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-success">Pay</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#addMoneyButton').click(function () {
            $('#addMoneyModal').modal('show');
        });
        $('#addMoneyButtonClose').click(function () {
            $('#addMoneyModal').modal('hide');
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        let po_amount = document.getElementById('po_amount')
        let po_amount_value = po_amount.value
        po_amount.value = formatCurrency(po_amount_value);

        let po_debt = document.getElementById('po_debt')
        let po_debt_value = po_debt.value
        po_debt.value = formatCurrency(po_debt_value);
        const currencyElements = document.querySelectorAll('.currency');
        currencyElements.forEach(function (element) {
            const value = parseFloat(element.getAttribute('data-value'));
            element.textContent = formatCurrency(value);
        });
    });

    function formatCurrency(value) {
        return new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'IDR'
        }).format(value).replace('IDR', 'IDR ').trim();
    }
</script>

</body>
</html>