

.modal-header{
    display: flex;
    justify-content: space-between;
}

.modal-header button{
    color: gray;
    background-color: inherit;
    border: none;
}

.back-btn{
    background-color: inherit !important;
    box-shadow: none !important;
    padding:0 !important;

}
