{% extends 'server/base.html' %}
{% block title %}
    Commodity
{% endblock %}
{% block plugin %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/server/master_farmer.css') }}">
{% endblock %}

{% block header %}
    <b>Odoo Commodity List</b>
{% endblock %}

{% block content %}
    <span id="selected-menu" style="display: none;">commodity</span>

    <div class="card">

        <div class="card-body">
            <div class="event-container">
                <table class="table" style="width: 100%; margin-top: 32px;">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Station
                        </th>
                        <th>
                            Sync Date
                        </th>
                    </tr>
                    {% for data in commodities %}
                        <tr>
                            <td>{{ data.name }}</td>
                            <td>{{ data.station_name }}</td>
                            <td> {{ data.sync_date.strftime('%Y-%m-%d %H:%M') }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>

{% endblock %}

{% block script_plugin %}

{% endblock %}