{% extends 'server/base.html' %}
{% block title %}
    Purchase Order
{% endblock %}
{% block plugin %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/server/master_farmer.css') }}">

{% endblock %}

{% block header %}
    <b>Master Data</b>
{% endblock %}

{% block content %}
    <span id="selected-menu" style="display: none;">master_data</span>

    <div class="card">

        <div class="card-body">
            <div class="event-container">
                <table class="table event-table" style="width: 100%; margin-top: 32px;">
                    <tr>
                        <th>
                            PO
                        </th>
                           <th>
                            Vendor
                        </th>
                        <th>
                            Products
                        </th>
                    </tr>
                    {% for data in purchase_data %}
                        <tr>
                            <td>{{ data.po.name }}</td>
                             <td>{{ data.po.partner_name }}</td>
                              <td> {{ data.po.sync_date   }}</td>
                            <td>
                                <table class="table">
                                         {% if data.order_lines %}
                                            {% for order in data.order_lines %}
                                            <tr>
                                                <td> {{ order.order_line.product_name }}</td>
                                                <td align="right"> {{ "{:,.2f}".format(order.order_line.product_qty) }}</td>
                                                <td align="right"> {{ "Rp. {:,.2f}".format(order.order_line.price_unit) }}</td>
                                                   <td> {{ order.order_line.sync_date   }}</td>
                                            </tr>
                                         {% endfor %}
                                {% else %}
                                    N/A
                                {% endif %}
                                </table>


                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>

{% endblock %}

{% block script_plugin %}

{% endblock %}