{% extends 'server/base.html' %}
{% block title %}
    Purchase Order
{% endblock %}
{% block plugin %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/server/master_farmer.css') }}">
    <style>
        .rotate-this-icon {
            display: inline-block;
            animation: rotation 2s infinite linear;
        }
        @keyframes rotation {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(-360deg);
            }
        }
    </style>
{% endblock %}

{% block header %}
    <b>Odoo PO List</b>
{% endblock %}

{% block content %}
    <span id="selected-menu" style="display: none;">purchase_order</span>

    <div class="card">

        <div class="card-body">
            <div class="event-container">
                <table class="table" style="width: 100%; margin-top: 32px;">
                    <tr>
                        <th>
                            Odoo PO#
                        </th>
                           <th>
                            Ref
                        </th>
                           <th>
                            Vendor
                        </th>
                           <th class="text-end">
                            Total
                        </th>
                        <td>Sync</td>
                        <th>
                            Sync Date
                        </th>
                    </tr>
                    {% for data in purchase_data %}
                        <tr>
                            <td>{{ data.po.name }}</td>
                             <td>{{ data.po.partner_ref }}</td>
                             <td>{{ data.po.partner_name }}</td>
                            <td align="right">{{"Rp. {:,.2f}".format(data.po.calculate_grand_total())}}</td>
                            <td class="sync-po-id" data-po-id="{{ data.po.id }}" data-odoo-id="{{ data.po.odoo_id }}">

                            </td>
                            <td> {{ data.po.sync_date.strftime('%Y-%m-%d %H:%M')   }}</td>
                            <td>

                                <a href="/server/purchase-event?po={{ data.po.id }}" class="btn btn-primary" type="button"> <i class="bx bxs-cart"> </i></span></a>

                            </td>

                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>

{% endblock %}

{% block script_plugin %}
<script>
    $(document).ready(function() {
        if (navigator.onLine) {
            // if online
            $('.sync-po-id').html(`
                <i class='bx bx-sync bx-sm rotate-this-icon' style='color: blue;' data-bs-toggle='tooltip' title='Syncing'></i>
            `);

            // Array to store all AJAX promises
            var ajaxPromises = [];

            $('.sync-po-id').each(function() {
                var thisCheck = $(this);
                var poId = $(thisCheck).attr('data-po-id');
                var odooId = $(thisCheck).attr('data-odoo-id');

                // Create a new promise for each AJAX request
                const ajaxPromise = new Promise(function(resolve, reject) {
                    $.ajax({
                        url: '/sync/check-update',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            flask_id: poId,
                            model: 'PurchaseOrderOdoo',
                        },
                        success: function(response) {
                            if (response.status === 200) {
                                if (response.update) {
                                    $.ajax({
                                        url: '/sync/get-purchase-order-odoo',
                                        type: 'GET',
                                        dataType: 'json',
                                        async: true,
                                        data: {
                                            odoo_id: odooId,
                                        },
                                        success: function(response) {
                                            $(thisCheck).html(`
                                                <i class='bx bx-check bx-sm' style='color: blue;' data-bs-toggle='tooltip' title='Synced'></i>
                                            `);
                                            resolve();
                                        },
                                        error: function(xhr, status, error) {
                                            console.error('Error:', error);
                                            reject(error);
                                        }
                                    });
                                } else {
                                    $(thisCheck).html('');
                                    $(thisCheck).attr({'data-bs-toggle': 'tooltip', 'title': 'No Update'});
                                    resolve();
                                }
                            } else if (response.status === 401 || response.status === 404) {
                                // Set error icons and reject promise with appropriate message
                                const iconClass = response.status === 401 ? 'bx bx-error bx-sm' : 'bx bx-error-alt bx-sm';
                                thisCheck.html(`<i class='${iconClass}' data-bs-toggle='tooltip' title='${response.message}'></i>`);
                                reject(response.message);
                            }
                        },
                        error: function(xhr, status, error) {
                            console.error('Error:', error);
                            reject(error);
                        }
                    });
                });

                // Add the promise to the array
                ajaxPromises.push(ajaxPromise);
            });

            // Execute all promises concurrently
            Promise.all(ajaxPromises)
                .then(function() {
                    console.log('All requests completed successfully');
                })
                .catch(function(error) {
                    console.error('Error:', error);
                });

        } else {
            $('.sync-po-id').html("<i class='bx bx-wifi-off bx-sm'></i>");
        }
    })
</script>
{% endblock %}