{% extends '/server/base.html' %}
{% block title %}
    Master Data
{% endblock %}
{% block plugin %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/server/master_farmer.css') }}">

{% endblock %}

{% block header %}
    <b>Farmer List</b>
{% endblock %}

{% block content %}
    <span id="selected-menu" style="display: none;">master_data</span>

    <div class="card">

        <div class="card-body">
            <div class="event-container">
                <form>
                    <div class="row">
                        <div class="col-3">
                            <label for="station_id">Station</label>
                            <select name="station_id" id="station_id">
                                {% for station in stations %}
                                    <option value="{{station.odoo_id}}" {% if station.odoo_id==station_id %} selected {% endif %} >{{station.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-3">
                            <label for="parent_id">Farmer Group</label>
                            <select name="parent_id" id="parent_id">
                                {% for cluster in clusters %}
                                    <option value="{{cluster.odoo_id}}" {% if cluster.odoo_id==parent_id %} selected {% endif %} data-category="{{cluster.station_id}}">{{cluster.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-2">
                            <button style="margin-top: 20px;" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>

                {% if datas %}

                <table class="table event-table" style="width: 100%; margin-top: 32px;">
                    <tr>
                        <th>

                        </th>
                        <th>
                            Code
                        </th>
                        <th>
                            Farmer
                        </th>
                        <th>
                            Farmer Group
                        </th>
                           <th>
                            Station
                        </th>
                        <th>
                            Certification Status

                        </th>
                        <th>Write Date</th>
                        <th>
                            Sync Date

                        </th>
                        <th>
                            Product

                        </th>
                    </tr>
                    {% for data in datas %}
                        <tr>
                            <td>
                              <img width="100px" height="100px" src="{{ url_for('static', filename='image/' ~ data.farmer.odoo_id ~ '.png') }}" alt="Farmer Photo"/>
                            </td>
                            <td>{{ data.farmer.code }}</td>
                             <td>{{ data.farmer.farmer_name }}</td>
                                    <td>{{ data.farmer.parent_name }}</td>
                               <td>{{ data.farmer.station_name }}</td>
                              <td>{{ data.farmer.certification_status_name }}</td>
                            <td class="sync-farmer-id" data-farmer-id="{{ data.farmer.id }}" data-odoo-id="{{ data.farmer.odoo_id }}">
                                syncing
                            </td>
                                      <td> {{ data.farmer.sync_date.strftime('%Y-%m-%d %H:%M')   }}</td>
                            <td>

                              {% for commodity_item in data.commodity_items %}

                                     [{{ commodity_item.product_id_code }}]  {{ commodity_item.product_id_name }}  <br/>
                                 {% endfor %}

                            </td>


                        </tr>
                    {% endfor %}
                </table>

                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}

{% block script_plugin %}
<script src="{{ url_for('static', filename='/js/server/master_farmer.js') }}"></script>

<script>
    $(document).ready(function() {
        if (navigator.onLine) {
            // if online
            $('.sync-farmer-id').each(function() {
                var thisCheck = $(this);
                var farmerId = $(thisCheck).attr('data-farmer-id');
                var odooId = $(thisCheck).attr('data-odoo-id');
                $.ajax({
                    url: '/sync/check-update',
                    type: 'GET',
                    dataType: 'json',
                    async: true,
                    data: {
                        flask_id: farmerId,
                    },
                    success: function(response) {
                        if (response.update) {
                            $.ajax({
                                url: '/sync/get-farmer-odoo',
                                type: 'GET',
                                dataType: 'json',
                                async: true,
                                data: {
                                    odoo_id: odooId,
                                },
                                success: function(response) {
                                    $(thisCheck).html('Updated');
                                },
                                error: function(xhr, status, error) {
                                    console.error('Error:', error);
                                }
                            });
                        } else {
                            $(thisCheck).html('No Update');
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });
        } else {
            $('.sync-farmer-td').html('no internet');
        }
    });
</script>
{% endblock %}