{% extends 'server/base.html' %}
{% block title %}
Purchase Event
{% endblock %}
{% block plugin %}

{% endblock %}

{% block header %}
<b>Odoo PO </b>
{% endblock %}

{% block content %}
<style>
    .active {
        color: black;
    }

    .rotate-this-icon {
        display: inline-block;
        animation: rotation 2s infinite linear;
    }
    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-360deg);
        }
    }
</style>
<span id="selected-menu" style="display: none;">purchase_event</span>


<!--<div class="breadcrumb flat">-->
<!--    <a href="/server/master/purchase-order">Odoo PO List</a>-->
<!--    <a href="">Odoo PO ({{purchase_order.name}},{{purchase_order.partner_ref}})</a>-->
<!--</div>-->


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/server/master/purchase-order" style="color: #e27f34;"> Odoo PO List</a>
        </li>
        <span style="color: #e27f34;">&nbsp; / &nbsp;</span>
        <li class="breadcrumb-item active" aria-current="page"><p>Odoo PO
            ({{purchase_order.name}},{{purchase_order.partner_ref}})</p></li>
    </ol>
</nav>


<div class="card">
    <div class="nav nav-tabs" id="nav-tab" role="tablist"
         style="padding-left:20px;padding-top:20px;flex-direction: row;justify-content: left">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                type="button"
                role="tab" aria-controls="nav-home" aria-selected="true">Purchase Event List
        </button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                type="button"
                role="tab" aria-controls="nav-profile" aria-selected="false">Odoo PO Info
        </button>
    </div>

    <div class="tab-content" id="nav-tabContent">


        <div class="card-body tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


            <a type="button" class="btn btn-primary" href="/server/purchase-event/create?po={{po}}">
                Add Purchase Event
            </a>

            <table class="table table-hovered event-table" style="width: 100%; margin-top: 32px;">
                <tr>
                    <th>Date</th>
                    <th>Purchase Event</th>
                    <th>Note</th>
                    <th style="text-align: right">Cash In</th>
                    <th style="text-align: right">Cash Out</th>
                    <th style="text-align: right">Cash Balance</th>
                    <th>Action</th>
                    <th style="width: 5%;">Update</th>
                </tr>
                {% for event in events %}
                <tr class="event-row">
                    <td>{{ event.date_stamp }}</td>
                    <td>{{ event.name }}</td>

                    <td>{{ event.note }}</td>
                    <td class="currency" data-value="{{ event.compute_money_in }}" style="text-align: right">Rp {{  "{:,.2f}".format(event.compute_money_in) }}</td>
                    <td class="" data-value="{{ event.compute_money_out }}" style="text-align: right">Rp  {{  "{:,.2f}".format(event.compute_money_out) }}</td>
                    <td class="" data-value="{{ event.compute_balance }}" style="text-align: right">Rp {{  "{:,.2f}".format(event.compute_balance) }}</td>
                    <td>
                        <span class="event-id" style="display: none;"></span>

                        <a href="/server/purchase-event/view?pe={{ event.id }}" class="btn btn-info">Open</a>
<!--                        <a href="/server/purchase-event/payments?pe={{ event.id }}" class="btn btn-success"><i-->
<!--                                class="bx bx-money"></i></a>-->
<!--                        <a href="/purchase/transaction?pe={{ event.id }}" target="_blank"-->
<!--                           class="btn btn-primary" type="button"> <i class="bx bxs-cart"></i></a>-->

<!--                        <a href="/delivery/index?pe={{ event.id }}" target="_blank" class="btn btn-warning"><i-->
<!--                                class="bx bxs-truck"></i></a>-->
<!--                        <a type="button" class="btn btn-success " target="_blank"-->
<!--                           href="/cashier/index?pe={{ event.id }}">-->
<!--                            <span><i class='bx bx-dollar'></i></span>-->
<!--                        </a>-->
<!--                        <a type="button" class="btn btn-danger event-info{{ event.id }}"-->
<!--                           href="/server/purchase-event/delete?pe={{ event.id }}">-->
<!--                            <span><i class='bx bxs-trash'></i></span>-->
<!--                        </a>-->
                    </td>
                    <td>
                        <button type="button" class="btn btn-transparent check-update"
                                id="checkUpdate-{{event.id}}"
                                data-event-id="{{event.id}}"
                                style="width: 100%; height: 100%;"
                        >

                        </button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="card-body tab-pane fade show " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">


            <div class="row" style="margin: 24px; margin-top: 0;">
                <div class="form-floating col-sm-12 col-lg">
                    <input name="" class="form-control" value="{{ purchase_order.name }}" disabled>
                    <label class="control-label">Odoo PO#</label>
                </div>
                <div class="form-floating col-sm-12 col-lg">
                    <input name="" class="form-control" value="{{ purchase_order.partner_name }}" disabled>
                    <label class="control-label">Vendor</label>

                </div>
                <div class="form-floating col-sm-12 col-lg">
                    <input name="" class="form-control" value="{{ purchase_order.partner_ref }}" disabled>
                    <label class="control-label">Ref</label>

                </div>


            </div>


            <div class="po-container">
                <table class="table">

                    <tbody>
                    <tr>
                        <th>Product</th>
                        <th class="text-end">Qty</th>
                        <th class="text-end">Unit Price</th>
                        <th class="text-end">Subtotal</th>
                    </tr>

                    {% if purchase_order_line %}
                    {% for order in purchase_order_line %}
                    <tr>
                        <td> {{ order.name }}</td>
                        <td align="right"> {{ "{:,.2f}".format(order.product_qty) }}</td>
                        <td align="right"> {{ "Rp. {:,.2f}".format(order.price_unit) }}</td>
                        <td align="right"> {{ "Rp. {:,.2f}".format(order.price_unit*order.product_qty) }}</td>

                    </tr>


                    {% endfor %}

                    <tr>
                        <th colspan="3">Grand Total</th>
                        <td align="right">{{"Rp. {:,.2f}".format(purchase_order.calculate_grand_total())}}</td>
                    </tr>
                    {% else %}
                    N/A
                    {% endif %}

                    </tbody>

                </table>
            </div>


        </div>
    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const currencyElements = document.querySelectorAll('.currency');
        currencyElements.forEach(function (element) {
            const value = parseFloat(element.getAttribute('data-value'));
            element.textContent = formatCurrency(value);
        });
    });

    function formatCurrency(value) {
        return new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'IDR'
        }).format(value).replace('IDR', 'IDR ').trim();
    }
</script>
{% endblock %}
{% block script_plugin %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/server/event.css') }}">
<script>
    $(document).ready(function() {
        if (navigator.onLine) {
            $('.check-update').html(`
                <i class='bx bx-sync bx-sm rotate-this-icon' style='color: blue;' data-bs-toggle='tooltip' title='Checking Updatable'></i>
            `);

            $('.check-update').each(function() {
                var thisCheck = $(this);
                var eventId = $(thisCheck).attr('data-event-id');
                var modelName = 'PurchaseEvent';

                $.ajax({
                    url: '/nfcpurchase/upload/check-update-by-id/',
                    type: 'GET',
                    dataType: 'json',
                    async: true,
                    data: {
                        check_id: eventId,
                        model: modelName,
                    },
                    success: function(response) {
                        if (response.update_type) {
                            $(thisCheck).attr('data-update-type', response.update_type);
                            $(thisCheck).html(`
                                <i class='bx bx-cloud-upload bx-sm' style='color: blue;' data-bs-toggle='tooltip' title='Upload'></i>
                            `);
                        } else if (response.update_type === false) {
                            // no update
                            $(thisCheck).html('');
                            $(thisCheck).addClass('disabled');
                        } else {
                            $(thisCheck).html(`<i class='bx bx-error bx-sm' data-bs-toggle='tooltip' title='${response.error}'></i>`);
                        };
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });

            $('.check-update').click(function(event) {
                event.preventDefault();
                if ($(this).attr('data-update-type')) {
                    var thisUpdate = $(this);
                    var eventId = $(thisUpdate).attr('data-event-id');
                    var modelName = 'PurchaseEvent';
                    var updateType = $(thisUpdate).attr('data-update-type');

                    $(thisUpdate).html(`
                        <i class='bx bx-sync bx-sm rotate-this-icon' style='color: blue;' data-bs-toggle='tooltip' title='Uploading'></i>
                    `);
                    $.ajax({
                        url: '/nfcpurchase/upload/update/',
                        type: 'POST',
                        dataType: 'json',
                        async: true,
                        data: {
                            update_id: eventId,
                            model: modelName,
                            update_type: updateType,
                        },
                        success: function(response) {
                            if (response.status === 200) {
                                $(thisUpdate).attr('data-update-type', '');
                                $(thisUpdate).html(`
                                    <i class='bx bx-check bx-sm' style='color: blue;' data-bs-toggle='tooltip' title='Uploaded'></i>
                                `);
                            }
                        },
                        error: function(xhr, status, error) {
                            console.error('Error:', error);
                        }
                    });
                }
            });
        };
    });
</script>
{% endblock %}
