{% extends 'server/base.html' %}
{% block title %}
Purchase Event
{% endblock %}
{% block plugin %}

{% endblock %}

{% block header %}
<b>Edit Purchase Event</b>
{% endblock %}

{% block content %}
<span id="selected-menu" style="display: none;">purchase_order</span>


     <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/server/master/purchase-order" style="color: #e27f34;"> Odoo PO List</a></li>
                    <span style="color: #e27f34;">&nbsp; / &nbsp;</span>
                <li class="breadcrumb-item"><a href="/server/purchase-event/?po={{purchase_order.id}}" style="color: #e27f34;"> Odoo PO ({{purchase_order.name}},{{purchase_order.partner_ref}})</a></li>
                <span style="color: #e27f34;">&nbsp; / &nbsp;</span>
                <li class="breadcrumb-item active" aria-current="page"><p>Purchase Event {{purchase_event.name}}</p></li>
            </ol>
        </nav>

<div class="card">


    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <form action="/server/purchase-event/update" method="POST">
                    <input type="hidden" name="event_id" value="{{ purchase_event.id }}">
                    <div class="form-group">
                        <label for="purchase-order">Purchase Order</label>
                        <select class="form-control" id="purchase-order" name="purchase-order" required>

                            <option value="{{ purchase_order.id }}">{{ purchase_order.name }}
                            </option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ purchase_event.name }}"
                               readonly>
                    </div>
                    <div class="form-group">
                        <label for="date_stamp">Created</label>
                        <input type="date" class="form-control" id="date_stamp" name="date_stamp"
                               value="{{ purchase_event.date_stamp}}">
                    </div>
                    <div class="form-group">
                        <label for="notes" class="form-label">Note</label>
                        <textarea id="notes" name="note" class="form-control"
                                  rows="4">{{ purchase_event.note }}</textarea>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary">Save Changes</button>

                </form>

                <!-- Modal for Adding Money -->
                <div class="modal fade" id="addMoneyModal" tabindex="-1" role="dialog"
                     aria-labelledby="addMoneyModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addMoneyModalLabel">Add Money</h5>
                            </div>
                            <form action="/server/money/add" method="POST">
                                <div class="modal-body">
                                    <input type="hidden" name="purchase_event_id" value="{{ purchase_event.id }}">
                                    <input type="hidden" name="type" value="debit">
                                    <div class="form-group">
                                        <label for="amount">Amount</label>
                                        <input type="number" class="form-control" id="amount" name="amount" step="0.01"
                                               required>
                                    </div>
                                    <div class="form-group">
                                        <label for="note">Note</label>
                                        <textarea class="form-control" id="note" name="note"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" id="addMoneyButtonClose"
                                            data-dismiss="modal">Close
                                    </button>
                                    <button type="submit" class="btn btn-primary">Add Money</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="getMoneyModal" tabindex="-1" role="dialog"
                     aria-labelledby="addMoneyModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="getMoneyModalLabel">Get Money</h5>
                            </div>
                            <form action="/server/money/add" method="POST">
                                <div class="modal-body">
                                    <input type="hidden" name="purchase_event_id" value="{{ purchase_event.id }}">
                                    <input type="hidden" name="type" value="credit">
                                    <div class="form-group">
                                        <label for="amount">Amount</label>
                                        <input type="number" class="form-control" name="amount" step="0.01"
                                               required>
                                    </div>
                                    <div class="form-group">
                                        <label for="note">Note</label>
                                        <textarea class="form-control" name="note"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" id="getMoneyButtonClose"
                                            data-dismiss="modal">Close
                                    </button>
                                    <button type="submit" class="btn btn-primary">Get Money</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

<script>
    $(document).ready(function () {
        $('#addMoneyButton').click(function () {
            $('#addMoneyModal').modal('show');
        });
        $('#addMoneyButtonClose').click(function () {
            $('#addMoneyModal').modal('hide');
        });
        $('#getMoneyButton').click(function () {
            $('#getMoneyModal').modal('show');
        });
        $('#getMoneyButtonClose').click(function () {
            $('#getMoneyModal').modal('hide');
        });
    });
</script>

{% endblock %}
{% block script_plugin %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/server/event.css') }}">
{% endblock %}