{% extends 'server/base.html' %}
{% block title %}
Purchase Event
{% endblock %}
{% block plugin %}

{% endblock %}

{% block header %}
<b>Purchase Event {{purchase_order.name}}</b>
{% endblock %}

{% block content %}
<span id="selected-menu" style="display: none;">purchase_event</span>

<div class="card">
    <div class="card-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/server/master/purchase-order" style="color: #e27f34;">Purchase
                    Order</a></li>
                <li class="breadcrumb-item active" aria-current="page"><p>Purchase Event</p></li>
            </ol>
        </nav>
    </div>
    <div class="card-body">

        <div class="tab-content" id="purchaseEventTabsContent">
            <div class="tab-pane fade show active" id="event-list" role="tabpanel" aria-labelledby="event-list-tab">
                <div style="width:100%;">
                    <div style="display: flex; align-items: center;">
                        <a type="button" class="btn btn-primary" href="/server/purchase-event/create?po={{po}}">
                            Add
                        </a>
                    </div>
                </div>
                <div class="event-container">
                    <table class="table event-table" style="width: 100%; margin-top: 32px;">
                        <tr>
                            <th style="width: 10%;">Date</th>
                            <th style="width: 15%;">Purchase Event</th>
                            <th style="width: 12%;">Purchase Order</th>
                            <th style="width: 10%;">Note</th>
                            <th style="width: 16%;">Fund</th>
                            <th style="width: 10%;">Action</th>
                        </tr>
                        {% for event in events %}
                        <tr class="event-row">
                            <td>{{ event.date_stamp }}</td>
                            <td>{{ event.name }}</td>
                            <td>
                                <div class="event-info{{ event.id }}" id="po-info{{ event.id }}">
                                    {{ event.purchase_order_odoo.name }}
                                </div>
                            </td>
                            <td>{{ event.note }}</td>
                            <td>
                                <div class="event-info{{ event.id }}" id="fund-info{{ event.id }}">
                                    {{ event.compute_fund }}
                                </div>
                            </td>
                            <td>
                                <span class="event-id" style="display: none;"></span>
                                <a type="button" class="btn btn-secondary event-info{{ event.id }}"
                                   href="/server/purchase-event/details?pe={{ event.id }}">
                                    <span><i class='bx bxs-pencil'></i></span>
                                </a>
                                <a href="/server/purchase-event/view?pe={{ event.id }}" class="btn btn-info"><i
                                        class="bx bx-table"></i></a>
                                <a href="/server/purchase-event/payments?pe={{ event.id }}" class="btn btn-success"><i
                                        class="bx bx-money"></i></a>
                                <a href="/purchase/transaction?pe={{ event.id }}" target="_blank"
                                   class="btn btn-primary" type="button"> <i class="bx bxs-cart"></i></a>
                                <a type="button" class="btn btn-info event-info{{ event.id }}"
                                   href="/expense/index?pe={{ event.id }}">
                                    <span><i class='bx bx-credit-card'></i></span>
                                </a>
                                <a href="/delivery/index?pe={{ event.id }}" target="_blank" class="btn btn-warning"><i
                                        class="bx bxs-truck"></i></a>
                                <a type="button" class="btn btn-success event-info{{ event.id }}"
                                   href="/cashier/index?pe={{ event.id }}">
                                    <span><i class='bx bx-dollar'></i></span>
                                </a>
                                <a type="button" class="btn btn-danger event-info{{ event.id }}"
                                   href="/server/purchase-event/delete?pe={{ event.id }}">
                                    <span><i class='bx bxs-trash'></i></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <span id="pagination-link" class="hidden">/purchase/event?page=</span>
                    <span id="current-page" class="hidden">{{ page }}</span>
                    <span id="total-page" class="hidden">{{ total_pages }}</span>
                    <div id="pagination" style="width:100%; display:flex; justify-content: center;"></div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
{% block script_plugin %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/server/event.css') }}">
{% endblock %}
