{% extends 'server/base.html' %}
{% block title %}
Purchase Event
{% endblock %}
{% block plugin %}

{% endblock %}

{% block header %}
<b>Purchase Event Details</b>
{% endblock %}

{% block content %}
<span id="selected-menu" style="display: none;">purchase_event_details</span>

<div class="card">

    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <form action="/server/purchase-event/update" method="POST">
                    <input type="hidden" name="event_id" value="{{ purchase_event.id }}">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ purchase_event.name }}"
                               readonly>
                    </div>
                    <div class="form-group">
                        <label for="fund">Fund</label>
                        <input type="text" class="form-control" id="fund" name="fund" value="{{ purchase_event.fund }}"
                               readonly>
                    </div>
                    <div class="form-group">
                        <label for="ap_name">AP Name</label>
                        <input type="text" class="form-control" id="ap_name" name="ap_name"
                               value="{{ purchase_event.ap_name }}"
                               readonly>
                    </div>
                    <div class="form-group">
                        <label for="ip_address">IP Address</label>
                        <input type="text" class="form-control" id="ip_address" name="ip_address"
                               value="{{ purchase_event.ip_address }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="created_at">Created At</label>
                        <input type="text" class="form-control" id="created_at" name="created_at"
                               value="{{ purchase_event.created }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="modified">Modified</label>
                        <input type="text" class="form-control" id="modified" name="modified"
                               value="{{ purchase_event.modified }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="purchase-order">Purchase Order</label>
                        <select class="form-control" id="purchase-order" name="purchase-order" required>
                            {% for po in purchase_order %}
                            <option value="{{ po.id }}" {% if po.id== purchase_event.purchase_order_odoo_id
                                    %}selected{% endif %}>{{ po.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ics">ICS</label>
                        <input type="text" class="form-control" id="ics" name="ics" value="{{ purchase_event.ics }}">
                    </div>
                    <div class="form-group">
                        <label for="purchaser">Purchaser</label>
                        <select class="form-control" id="purchaser" name="purchaser" required>
                            {% for purchaser in purchasers %}
                            <option value="{{ purchaser.id }}" {% if purchaser.id== purchase_event.purchaser_id
                                    %}selected{% endif %}>{{ purchaser.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cashier">Cashier</label>
                        <select class="form-control" id="cashier" name="cashier" required>
                            {% for cashier in purchasers %}
                            <option value="{{ cashier.id }}" {% if cashier.id== purchase_event.cashier_id %}selected{%
                                    endif %}>{{ cashier.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>


</div>


{% endblock %}
{% block script_plugin %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/server/event.css') }}">
{% endblock %}