{% extends 'server/base.html' %}
{% block title %}
Purchase Event
{% endblock %}
{% block plugin %}

{% endblock %}

{% block header %}
<b>Create Purchase Event</b>
{% endblock %}

{% block content %}
<span id="selected-menu" style="display: none;">purchase_order</span>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/server/master/purchase-order" style="color: #e27f34;"> Odoo PO List </a>
        </li>
        <span style="color: #e27f34;">&nbsp; / &nbsp;</span>
        <li class="breadcrumb-item"><a href="/server/purchase-event?po={{purchase_event.purchase_order_odoo_id}}"
                                       style="color: #e27f34;">
            Odoo PO ({{purchase_order_odoo.name}},{{purchase_order_odoo.partner_ref}})</a></li>
        <span style="color: #e27f34;">&nbsp; / &nbsp;</span>
        <li class="breadcrumb-item active" aria-current="page"><p>Payments</p></li>
    </ol>
</nav>
<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h1>Payments </h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                        <th>No</th>
                        <th>Name</th>
                        <th>Payment ID</th>
                        <th>Source</th>
<!--                        <th style="text-align: right;">Fund</th>-->
                        <th style="text-align: right;">Amount</th>
                        <th>Type</th>
                        <th>Note</th>
                        </thead>
                        <tbody>
                        {% set ns = namespace(fund=0) %}
                         {% set number = namespace(number=0) %}
                        {% for payment in payments %}
                        <tr>
                            {% set number.number = number.number + 1 %}
                            {% set ns.fund = ns.fund + payment.amount %}
                            <td>
                                {{number.number}}
                            </td>
                            <td>
                                {{payment.number}}
                            </td>
                            <td>
                                {{payment.unique_id}}
                            </td>
                            <td>
                                {% if payment.purchase_order_id %}
                                PO : {{ PurchaseOrder.query.get(payment.purchase_order_id).name }}
                                {% else %}
                                PE : {{ purchase_event.name }}
                                {% endif %}
                            </td>
                            <td style="text-align: right;" class="" data-value="{{ payment.amount }}">Rp {{
                                "{:,.2f}".format(payment.amount) }}
                            </td>
                            <td>{{ 'Credit' if payment.amount < 0 else 'Debit' }}</td>
                            <td>{{ payment.note }}</td>
                        </tr>
                        {% endfor %}

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Total : </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th style="text-align: right">Rp {{ "{:,.2f}".format(ns.fund) }}</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>

                    </table>
                </div>

            </div>
        </div>
    </div>


</div>
<script>

</script>

{% endblock %}
{% block script_plugin %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/server/event.css') }}">
{% endblock %}