{% extends 'server/base.html' %}
{% block title %}
    Sync
{% endblock %}
{% block plugin %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/server/sync.css') }}">

{% endblock %}

{% block header %}
    <b>Sync Server Data</b>
    <style>
        .upload-button{
            border: none;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            width: 240px;
            height: 160px;
            border-radius: 10px;
            justify-content: center;
            align-items: flex-end;
        }
    </style>
{% endblock %}

{% block content %}
    <span id="selected-menu" style="display: none;">sync_data</span>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <button class="sync-button">
                    <div style="color: blue">
                        <i class='bx bx-sync bx-lg'></i>
                    </div>
                    <div>
                        Sync Data
                    </div>
                </button>
            </div>

            <div class="col-6">
                <button class="upload-button">
                    <div style="color: blue">
                        <i class='bx bx-sync bx-lg'></i>
                    </div>
                    <div>
                        Upload Data
                    </div>
                </button>
            </div>
        </div>

    </div>
    <div class="container">
        <div id="progress-bar" class="progress" style="display: none;">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

    <script>
        const syncButton = document.querySelector('.sync-button');
        const progressBar = document.getElementById('progress-bar');
        const progressValue = progressBar.querySelector('.progress-bar');

        const apiUrls = [
<!--            '/sync/get-farmer-photo',-->
            '/sync/get-product-odoo',
            '/sync/get-purchase-order-line-odoo',
            '/sync/get-purchase-order-odoo',
            '/sync/get-farmer-odoo',
            '/sync/get-user-odoo',
            '/sync/get-commodity-odoo',
            '/sync/get-commodityitem-odoo',
            '/sync/get-station-odoo',
            '/sync/get-cluster-odoo',

        ];

        syncButton.addEventListener('click', () => {
            progressBar.style.display = 'block'; // Show progress bar
            callApiSequence(apiUrls, 0); // Start calling APIs
        });

        async function callApiSequence(urls, index) {
            if (index >= urls.length) {
                progressBar.style.display = 'none'; // Hide progress bar
                alert('Synchronization completed!');
                return;
            }

            const percentage = Math.round((index / urls.length) * 100);
            console.log(percentage)
            progressValue.style.width = `${percentage}%`;
            progressValue.ariaValueNow = percentage;

            try {
                const response = await fetch(urls[index]);
                if (response.status === 200) {
                    callApiSequence(urls, index + 1); // Call next API
                } else {
                    throw new Error(`Error calling ${urls[index]}: ${response.status}`);
                }
            } catch (error) {
                progressBar.style.display = 'none'; // Hide progress bar on error
                alert(`Synchronization failed: ${error.message}`);
            }
        }


        const uploadButton = document.querySelector('.upload-button');
        var url = '/nfcpurchase/upload/all';
        uploadButton.addEventListener('click', () => {
            callUploadApi(url);
        });
        function callUploadApi(url) {
            try {
                var response = fetch(url);
                if (response) {
                    console.log(response);
                }
            } catch (error) {
                console.error(error);
            }
        };
    </script>

{% endblock %}

{% block script_plugin %}

{% endblock %}