{% extends 'server/base.html' %}
{% block title %}
    Sync
{% endblock %}
{% block plugin %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/server/sync.css') }}">

{% endblock %}

{% block header %}
    <b>Sync Server Data</b>
    <style>
        .upload-button{
            border: none;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            width: 240px;
            height: 160px;
            border-radius: 10px;
            justify-content: center;
            align-items: flex-end;
        }

        .progress-bar {
            width: 300px;
            height: 20px;
            border: 1px solid #000;
            background-color: rgba(0,0,0,0.3);
            margin-bottom: 10px;
        }
        .progress {
            height: 100%;
            background-color: #007bff;
        }
        .progress-text {
            font-family: Arial, sans-serif;
            font-size: 14px;
            color: #000;
        }
        #progress-container {
            display: none;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            z-index: 9999;
        }

        .loader {
            width: 8px;
            height: 40px;
            border-radius: 4px;
            display: block;
            margin: 20px auto;
            position: relative;
            background: currentColor;
            color: #FFF;
            box-sizing: border-box;
            animation: animloader 0.3s 0.3s linear infinite alternate;
        }

        .loader::after, .loader::before {
            content: '';
            width: 8px;
            height: 40px;
            border-radius: 4px;
            background: currentColor;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            box-sizing: border-box;
            animation: animloader 0.3s  0.45s  linear infinite alternate;
        }
        .loader::before {
            left: -20px;
            animation-delay: 0s;
        }

        @keyframes animloader {
            0%   { height: 48px}
            100% { height: 4px}
        }
    </style>
{% endblock %}

{% block content %}
    <span id="selected-menu" style="display: none;">sync_data</span>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <button class="sync-button">
                    <div style="color: blue">
                        <i class='bx bx-sync bx-lg'></i>
                    </div>
                    <div>
                        Sync Data
                    </div>
                </button>
            </div>

            <div class="col-6">
                <button class="upload-button">
                    <div style="color: blue">
                        <i class='bx bx-cloud-upload bx-lg'></i>
                    </div>
                    <div>
                        Upload Data
                    </div>
                </button>
            </div>
        </div>
    </div>

    <div class="" id="progress-container">
        <div class="text-center" id="progress-bar" style="display: none">
            <h1>Syncing</h1>
            <div class="progress-bar" style="display: block;">
                <div class="progress" style="width: 0%;"></div>
            </div>
            <div id="in-progress-urls" class="text-start">
                <h3>In Progress</h3>
            </div>
            <div id="completed-urls" class="text-start">
                <h3>Completed</h3>
            </div>
        </div>

        <div id="upload-text" style="display: none;">
            <span class="loader"></span>
        </div>
    </div>

    <script>
        const syncButton = document.querySelector('.sync-button');
        const progressBar = document.getElementById('progress-bar');
        const progressValue = progressBar.querySelector('.progress');
        const progressContainer = document.querySelector('#progress-container');
        const inProgressUrlsContainer = document.getElementById('in-progress-urls');
        const completedUrlsContainer = document.getElementById('completed-urls');

        const apiUrls = [
<!--            '/sync/get-farmer-photo',-->
            '/sync/get-product-odoo',
            '/sync/get-purchase-order-line-odoo',
            '/sync/get-purchase-order-odoo',
            '/sync/get-farmer-odoo',
            '/sync/get-user-odoo',
            '/sync/get-commodity-odoo',
            '/sync/get-commodityitem-odoo',
            '/sync/get-station-odoo',
            '/sync/get-cluster-odoo',
        ];

        syncButton.addEventListener('click', () => {
            progressContainer.style.display = 'flex';
            progressBar.style.display = 'block'; // Show progress bar
            inProgressUrlsContainer.innerHTML = '<h3>In Progress</h3>'; // Clear previous in-progress URLs
            completedUrlsContainer.innerHTML = '<h3>Completed</h3>'; // Clear previous completed URLs
            callApisConcurrently(apiUrls); // Start calling APIs concurrently
        });

        async function callApisConcurrently(urls) {
            let completedRequests = 0;

            const updateProgress = () => {
                const percentage = Math.round((completedRequests / urls.length) * 100);
                progressValue.style.width = `${percentage}%`;
                progressValue.ariaValueNow = percentage;
            };

            const showInProgressUrl = (url) => {
                const urlElement = document.createElement('div');
                urlElement.textContent = `In Progress: ${url}`;
                urlElement.id = `url-${url}`;
                inProgressUrlsContainer.appendChild(urlElement);
            };

            const showCompletedUrl = (url) => {
                const urlElement = document.getElementById(`url-${url}`);
                if (urlElement) {
                    urlElement.remove();
                }
                const completedUrlElement = document.createElement('div');
                completedUrlElement.textContent = `Completed: ${url}`;
                completedUrlsContainer.appendChild(completedUrlElement);
            };

            try {
                const promises = urls.map(url => {
                    showInProgressUrl(url); // Display the in-progress URL
                    return fetch(url).then(response => {
                        if (!response.ok) {
                            throw new Error(`Error calling ${url}: ${response.status}`);
                        }
                        completedRequests++;
                        showCompletedUrl(url); // Move URL to completed
                        updateProgress();
                    });
                });

                await Promise.all(promises);

                progressContainer.style.display = 'none';
                progressBar.style.display = 'none'; // Hide progress bar
                alert('Synchronization completed!');
            } catch (error) {
                progressContainer.style.display = 'none';
                progressBar.style.display = 'none'; // Hide progress bar on error
                alert(`Synchronization failed: ${error.message}`);
            }
        }


        $(document).ready(function() {
            const uploadButton = $('.upload-button');
            var urlUploadAll = '/nfcpurchase/upload/all';

            uploadButton.click(function() {
                $('#progress-container').css('display', 'flex');
                $('#upload-text').show();

                $.ajax({
                    url: urlUploadAll,
                    type: 'GET',
                    dataType: 'json',
                    success: function(response) {
                        if (response) {
                            alert('Upload success');
                        }
                    },
                    error: function(xhr, status, error) {
                        alert('Upload failed');
                    },
                    complete: function() {
                        $('#upload-text').hide();
                        $('#progress-container').hide();
                    }
                });
            });
        });

    </script>

{% endblock %}

{% block script_plugin %}

{% endblock %}