{% extends 'server/base.html' %}
{% block title %}
    Sync
{% endblock %}
{% block plugin %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/server/sync.css') }}">

{% endblock %}

{% block header %}
    <b>Sync Server Data</b>
    <style>
        .upload-button{
            border: none;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            width: 240px;
            height: 160px;
            border-radius: 10px;
            justify-content: center;
            align-items: flex-end;
        }

        .progress-bar {
            width: 300px;
            height: 20px;
            border: 1px solid #000;
            background-color: #f0f0f0;
            margin-bottom: 10px;
        }
        .progress {
            height: 100%;
            background-color: #007bff;
        }
        .progress-text {
            font-family: Arial, sans-serif;
            font-size: 14px;
            color: #000;
        }
        #progress-container {
            display: none;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(240, 240, 240, 0.7);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            z-index: 9999;
        }
    </style>
{% endblock %}

{% block content %}
    <span id="selected-menu" style="display: none;">sync_data</span>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <button class="sync-button">
                    <div style="color: blue">
                        <i class='bx bx-sync bx-lg'></i>
                    </div>
                    <div>
                        Sync Data
                    </div>
                </button>
            </div>

            <div class="col-6">
                <button class="upload-button">
                    <div style="color: blue">
                        <i class='bx bx-sync bx-lg'></i>
                    </div>
                    <div>
                        Upload Data
                    </div>
                </button>
            </div>
        </div>
    </div>

    <div class="" id="progress-container">
        <div class="text-center" id="progress-bar" style="display: none">
            <h1>Syncing</h1>
            <div class="progress-bar" style="display: block;">
                <div class="progress" style="width: 0%;"></div>
            </div>
        </div>

        <div id="upload-text" style="display: none;">
            <h1>Uploading...</h1>
        </div>
    </div>

    <script>
        const syncButton = document.querySelector('.sync-button');
        const progressBar = document.getElementById('progress-bar');
        const progressValue = progressBar.querySelector('.progress');
        const progressContainer = document.querySelector('#progress-container');

        const apiUrls = [
<!--            '/sync/get-farmer-photo',-->
            '/sync/get-product-odoo',
            '/sync/get-purchase-order-line-odoo',
            '/sync/get-purchase-order-odoo',
            '/sync/get-farmer-odoo',
            '/sync/get-user-odoo',
            '/sync/get-commodity-odoo',
            '/sync/get-commodityitem-odoo',
            '/sync/get-station-odoo',
            '/sync/get-cluster-odoo',

        ];

        syncButton.addEventListener('click', () => {
            progressContainer.style.display = 'flex';
            progressBar.style.display = 'block'; // Show progress bar
            callApiSequence(apiUrls, 0); // Start calling APIs
        });

        async function callApiSequence(urls, index) {
            if (index >= urls.length) {
                progressContainer.style.display = 'none';
                progressBar.style.display = 'none'; // Hide progress bar
                alert('Synchronization completed!');
                return;
            }

            const percentage = Math.round((index / urls.length) * 100);
            console.log(percentage)
            progressValue.style.width = `${percentage}%`;
            progressValue.ariaValueNow = percentage;

            try {
                const response = await fetch(urls[index]);
                if (response.status === 200) {
                    callApiSequence(urls, index + 1); // Call next API
                } else {
                    throw new Error(`Error calling ${urls[index]}: ${response.status}`);
                }
            } catch (error) {
                progressBar.style.display = 'none'; // Hide progress bar on error
                alert(`Synchronization failed: ${error.message}`);
            }
        }


        $(document).ready(function() {
            const uploadButton = $('.upload-button');
            var urlUploadAll = '/nfcpurchase/upload/all';

            uploadButton.click(function() {
                $('#progress-container').css('display', 'flex');
                $('#upload-text').show();

                $.ajax({
                    url: urlUploadAll,
                    type: 'GET',
                    dataType: 'json',
                    success: function(response) {
                        if (response) {
                            alert('Upload success');
                        }
                    },
                    error: function(xhr, status, error) {
                        alert('Upload failed');
                    },
                    complete: function() {
                        $('#upload-text').hide();
                        $('#progress-container').hide();
                    }
                });
            });
        });

    </script>

{% endblock %}

{% block script_plugin %}

{% endblock %}