{% extends 'server/base.html' %}
{% block title %}
    Test Print
{% endblock %}
{% block plugin %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/server/sync.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/tools/scanner.css') }}">
    <script src="{{ url_for('static', filename='/assets/html5-qrcode/js/html5-qrcode.min.js') }}"></script>

{% endblock %}

{% block header %}
    <b>Test</b>
    <style>
        .test-button{
            border: none;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            width: 240px;
            height: 160px;
            border-radius: 10px;
            justify-content: center;
            align-items: flex-end;
        }
    </style>
{% endblock %}

{% block content %}
    <span id="selected-menu" style="display: none;">test_print</span>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <button class="test-button" onclick="btPrintTest()">
                    <div style="color: blue">
                        <i class='bx bxs-printer bx-lg'></i>
                    </div>
                    <div>
                        Test Print
                    </div>
                </button>
            </div>
            <div class="col-6">
                <button class="test-button" onclick="startScanTest('test-input')">
                    <div style="color: blue">
                        <i class='bx bx-scan bx-lg'></i>
                    </div>
                    <div>
                        Test Camera
                    </div>
                </button>
            </div>
        </div>

        <div class="modal fade" id="scannerModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title">QR Scanner</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="stopScan()">
                            <span><i class='bx bx-x bx-md'></i></span>
                        </button>


                    </div>
                    <div class="modal-body">
                        <div style="width: 100%;" id="reader"></div>
                        <div>
                            <label for="test-input">Result</label>
                            <input type="text" name="test-input" id="test-input" style="width: 100%;">
                        </div>
                        <div>
                            <button type="button" class="btn btn-danger" onclick="stopScan()">Stop Scan</button>
                        </div>


                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}

{% block script_plugin %}
<script src="{{ url_for('static', filename='/js/tools/print_test.js') }}"></script>
<script src="{{ url_for('static', filename='/js/tools/scanner.js') }}"></script>
{% endblock %}