{% extends 'base.html' %}
{% block title %}
    Search Farmer
{% endblock %}
{% block plugin %}


{% endblock %}

{% block header %}
    <b>Search Farmer</b>
{% endblock %}

{% block content %}
    <span id="selected-menu" style="display: none;">Search Farmer</span>

    <div class="card">
        <form action="/purchase/farmer/detail">
            <input type="hidden" name="pe" id="pe" value="{{ pe }}">
            <div class="form-group">
                <label for="exampleInputEmail1">Farmer Code</label>
                <input type="text" class="form-control" name="farmer_code" id="farmer_code" aria-describedby="emailHelp"
                       placeholder="">
                <small id="emailHelp" class="form-text text-muted">Scan farmer code</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

    </div>


{% endblock %}

{% block script_plugin %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/event.css') }}">
{% endblock %}