<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Farmer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/bootstrap/css/bootstrap.css') }}"
          type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/sweetalert2/sweetalert2.css') }}"
          type="text/css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/css/delivery/delivery.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/purchase/farmer_detail.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/purchase/transaction.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/purchase/purchase.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/boxicons/css/boxicons.css') }}">
    <script src="{{ url_for('static', filename='/assets/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='/assets/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='/assets/sweetalert2/sweetalert2.js') }}"></script>
    <script src="{{ url_for('static', filename='/assets/quanggaJS/quanggaJS.js') }}"></script>
    <style>
        #sig-canvas {
            border: 2px dotted #CCCCCC;
            border-radius: 15px;
            cursor: crosshair;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="card">
        <input type="hidden" id="purchase_order_id" value="{{po.id}}">
        <input type="hidden" id="purchase_order_name" value="{{po.name}}">
        <div class="card-header d-flex align-items-center">
            <a href="/purchase/transaction?pe={{ event.id }}" class="btn back-btn"
               style="width: fit-content;"><span><i class='bx bx-chevron-left bx-md'></i></span></a>
            <span style="font-weight: bold; font-size: 20px; margin-left: 16px;">Purchase {{ po.name }} </span>
        </div>

        <div class="card-body">
            <div class="tabs">
                <ul class="tab-links tab-container">
                    <a href="#purchase" class="active" type="button" id="list-tab-btn">Purchase</a>
                    <a href="#po-info" type="button" id="info-tab-btn">Odoo PO Info</a>
                    <a href="#farmer" type="button" id="farmer-tab-btn">Farmer Detail</a>


                </ul>
                <div class="tab-content active" id="purchase">
                    <div class="status" style="text-align: right;">
                        <div style="">
                            <b><u>STATUS : {% if po.compute_is_paid %}
                                <span>PAID</span>
                                {% else %}
                                <span>{{po.status.upper()}}</span>
                                {% endif %}
                            </u></b>
<!--                            {% if not po.compute_is_paid and po.status.lower() == 'confirm' %}-->
<!--                            <br>-->
<!--                            <a href="/purchase/order/set-to-draft?po={{po.id}}&farmer={{farmer.id}}"-->
<!--                               class="btn btn-sm btn-success">-->
<!--                                Set To Draft-->
<!--                            </a>-->
<!--                            {% else %}-->
<!--                            {% endif %}-->
                        </div>
                    </div>
                    <div class="purchase-data">
                        <div class="farmer-photo">
                            <img width="200px" height="200px"
                                 src="{{ url_for('static', filename='image/' ~ farmer.odoo_id ~ '.png') }}"
                                 alt="Farmer Photo"/>
                        </div>
                        <table id="farmer-detail" class="data-table">
                            <tbody>
                            <tr>
                                <th style="width: 50%;">Date</th>
                                <td>{{ po.date }}</td>
                            </tr>
                            <tr>
                                <th style="width: 50%;">Farmer Code</th>
                                <td>{{ farmer.code }}</td>
                            </tr>
                            <tr>
                                <th style="width: 50%;">Farmer</th>
                                <td>{{ farmer.farmer_name }}</td>
                            </tr>
                            <tr>
                                <th>Purchase Event</th>
                                <td>{{ event.name }}</td>
                            </tr>
                            <tr>
                                <th>Odoo PO#</th>
                                <td>{{ event.purchase_order_odoo.name }}</td>
                            </tr>
                            <tr>
                                <th>Order</th>
                                <td>{{ po.name }}</td>
                            </tr>
                            <!-- <tr>
                                <th>Status</th>
                                <td>{{ po.status }}</td>
                            </tr> -->
                            <tr>
                                <th>Certification Status</th>
                                <td>{{ farmer.certification_status_name }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <input name="purchase-event" class="form-control" id="purchase-event" value="{{ event.id }}"
                           hidden>
                    <input name="total_premium" class="form-control" id="total_premium" value="{{ total_premium }}"
                           hidden>
                    <input name="purchase-order-odoo" class="form-control" id="purchase-order-odoo"
                           value="{{ event.purchase_order_odoo.id }}" hidden>
                    <input name="purchase-order-odoo" class="form-control" id="purchase_order_odoo_id"
                           value="{{ event.purchase_order_odoo.name }}" hidden>
                    <input name="purchase-order-odoo" class="form-control" id="certification_status_id"
                           value="{{ farmer.certification_status_name }}" hidden>
                    <input name="purchase-event-odoo" class="form-control" id="purchase_event_id"
                           value="{{ event.name }}" hidden>
                    <input name="purchase-order" class="form-control" id="purchase-order" value="{{ po.id }}"
                           hidden>
                    <input name="farmer" class="form-control" id="farmer_code" value="{{ farmer.code }}" hidden>


                    <div style="width:100%; display:flex; justify-content: flex-end; padding-right:4%;">
                        <div style="display: flex; align-items: center;">
                            {% if po_status.lower() == 'draft' %}
                            <!--                        <button type="button" class="btn btn-primary" data-toggle="modal"-->
                            <!--                                data-target="#addTransactionModal">-->
                            <!--                            Add-->
                            <!--                        </button>-->
                            <a type="button" class="btn btn-primary"
                               href="/purchase/transaction/create?purchase-order={{ po.id }}&purchase-event={{ event.id }}&farmer_id={{ farmer.id }}">
                                Add
                            </a>

                            {% endif %}
                        </div>
                    </div>


                    <div class="event-container responsive-table">

                        <table class="table event-table" style="width: 100%; margin-top: 32px;">
                            <tr>

                                <th>
                                    Product
                                </th>

                                <th class="text-right">
                                    Price Unit
                                </th>
                                <th class="text-right">
                                    Qty
                                </th>
                                <th class="text-right">
                                    Subtotal
                                </th>
                                <th class="text-right">
                                    Premium
                                </th>
                                <th class="text-right">
                                    Pokok
                                </th>
                                <th>
                                    QR Code
                                </th>
                                <th>
                                    Note
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                            {% set total_value = 0 %}

                            {% for transaction in transaction_list %}

                            <tr class="event-row">
                                <td class="responsive-th">
                                    <b>Product</b>
                                </td>

                                <td>
                                    <div class="update-form" id="product-id-{{ transaction.id }}" hidden>
                                        {{ transaction.product_odoo_id.id }}
                                    </div>

                                    <div> {{transaction.commodity_name}} {{transaction.variant}}</div>

                                    <div class="mobile-hidden" style="font-size:8px;">{{
                                        ProductOdoo.query.filter_by(id=transaction.product_odoo_id).first().default_code
                                        }}
                                    </div>


                                </td>
                                <td class="responsive-th">
                                    <b>Price Unit</b>
                                </td>
                                <td class="price-column text-right">
                                    <div class="transaction-info{{ transaction.id }} text-right"
                                         id="price-info{{ transaction.id }}">
                                        Rp {{ '{:,.2f}'.format(transaction.unit_price) }}
                                    </div>
                                </td>
                                <td class="responsive-th">
                                    <b>Qty</b>
                                </td>
                                <td class="qty-column ">
                                    <div class="transaction-info{{ transaction.id }} text-right"
                                         id="qty-info{{ transaction.id }}">
                                        {{ '{:,.2f}'.format(transaction.qty) }}
                                    </div>
                                </td>
                                <td class="responsive-th">
                                    <b>Subtotal</b>
                                </td>
                                <td class="text-right">
                                    <div id="subtotal-info{{ transaction.id }} text-right">

                                        Rp {{ '{:,.2f}'.format(transaction.subtotal) }}

                                    </div>
                                </td>
                                <td class="responsive-th">
                                    <b>Premium</b>
                                </td>
                                <td class="text-right">
                                    <div id="subtotal-info{{ transaction.id }} text-right">
                                        {% if transaction.nfcapp_commodity_item_odoo.total_premium %}
                                        Rp {{
                                        '{:,.2f}'.format(transaction.subtotal*transaction.nfcapp_commodity_item_odoo.total_premium/100)
                                        }}
                                        {% else %}
                                        0
                                        {% endif %}


                                    </div>
                                </td>
                                <td class="responsive-th">
                                    <b>Pokok</b>
                                </td>
                                <td class="text-right">
                                    <div id="subtotal-info{{ transaction.id }} text-right">
                                        {% if transaction.nfcapp_commodity_item_odoo.total_premium %}
                                        Rp {{
                                        '{:,.2f}'.format(transaction.subtotal-(transaction.subtotal*transaction.nfcapp_commodity_item_odoo.total_premium/100))
                                        }}

                                        {% else %}
                                        0
                                        {% endif %}


                                    </div>
                                </td>
                                <td class="responsive-th">
                                    <b>QR Code</b>
                                </td>
                                <td>
                                    <div id="subtotal-info{{ transaction.id }}">

                                        {{ transaction.barcode }}

                                    </div>
                                </td>
                                <td class="responsive-th">
                                    <b>Note</b>
                                </td>
                                <td>
                                    <div id="subtotal-info{{ transaction.id }}">

                                        {{ transaction.note }}

                                    </div>
                                </td>
                                <td>
                                    <span class="event-id" style="display: none;">{{ transaction.id }}</span>

                                    {% if po.status == 'draft' %}

                                    <a type="button"
                                       href="/purchase/transaction/detail?transaction={{ transaction.id }}&purchase-order={{ po.id }}&purchase-event={{ event.id }}&farmer_id={{ farmer.id }}"
                                       class="btn btn-primary">
                                        <span><i class='bx bxs-pencil'></i></span>
                                    </a>

                                    <a type="button"
                                       href="/purchase/transaction/delete?transaction={{ transaction.id }}&purchase-order={{ po.id }}&purchase-event={{ event.id }}&farmer_id={{ farmer.id }}"
                                       class="btn btn-danger"
                                       onclick="return confirm('Are you sure you want to delete this item?');">
                                        <span><i class='bx bxs-trash'></i></span>
                                    </a>

                                    {% endif %}


                                </td>
                            </tr>

                            {% endfor %}


                            <tr class="total-price-container">
                                <td colspan="3">
                                    <b>Grand Total</b>
                                </td>
                                <td>
                                    <div id="total-price" class="text-right">
                                        Rp {{ '{:,.2f}'.format(total_price) }}
                                    </div>

                                </td>
                                <td class="responsive-th">
                                    <b>Total Premium</b>
                                </td>
                                <td>
                                    <div id="total-premium-data" style="display: none;">{{total_premium}}</div>
                                    <div id="total-price" class="text-right">
                                        Rp {{ '{:,.2f}'.format(total_premium) }}
                                    </div>
                                </td>
                                <td class="responsive-th">
                                    <b>Total Pokok</b>
                                </td>
                                <td>
                                    <div id="total-pokok-data" style="display: none;">{{total_price-total_premium}}
                                    </div>
                                    <div id="total-price" class="text-right">
                                        <input type="hidden" id="total_pokok" value="{{ total_price-total_premium }}">
                                        Rp {{ '{:,.2f}'.format(total_price-total_premium) }}
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>

                    </div>
                    <img style="display: none;" id="sig-qr" src="data:image/png;base64,{{ qr_code_po }}">
                    <div style="width:100%; display:flex; justify-content: flex-end; padding:20px;">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <img id="sig-image" src="/purchase/order/get-signature?po={{po.id}}" alt=""/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-lg-3" style="padding: 0;">


                                    {% if po.signature %}
                                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                        Edit Signature
                                    </button>
                                    {% else %}
                                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                        Add Signature
                                    </button>
                                    {% endif %}


                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                        {% if po.signature %}
                                                        Edit Signature
                                                        {% else %}
                                                        Add Signature
                                                        {% endif %}


                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <canvas id="sig-canvas" width="320" height="300">
                                                                Please Update Your Browser
                                                            </canvas>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <button class="btn btn-primary" id="sig-submitBtn">
                                                                Submit
                                                                Signature
                                                            </button>
                                                            <button class="btn btn-default" id="sig-clearBtn" style="display: none;">Clear
                                                                Signature
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    {% if po.signature %}

                    <div style="padding:20px;">
                        <div style="display: flex; align-items: center;">
                            <button onclick="btPrint3()" class="btn btn-success">Print</button>
                            {% if po_status.lower() == 'confirm' %}
                            <a type="button" class="btn btn-primary" style="margin-left: 16px ;"
                               href="/purchase/search/farmer?pe={{ event.id }}">
                                Purchase Again
                            </a>
                            <a type="button" class="btn btn-danger" style="margin-left: 16px ;"
                               href="/purchase/transaction/reset-to-draft?purchase_order={{ po.id }}">
                                Reset to Draft
                            </a>
                            {% endif %}

                        </div>


                    </div>
                    {% endif %}


                </div>
                <div class="tab-content" id="po-info">
                    <div class="row" style="margin: 24px; margin-top: 0;">
                        <div class="form-floating col-sm-12 col-lg">
                            <input name="" class="form-control" id="" value="{{ event.purchase_order_odoo.name }}"
                                   disabled>
                            <label class="control-label" for="purchase-order">Odoo PO#</label>
                        </div>
                        <div class="form-floating col-sm-12 col-lg">
                            <input name="" class="form-control" value="{{ event.purchase_order_odoo.partner_name }}"
                                   disabled>
                            <label class="control-label" for="purchase-event">Vendor</label>

                        </div>
                        <div class="form-floating col-sm-12 col-lg">
                            <input name="" class="form-control" value="{{ event.purchase_order_odoo.partner_ref }}"
                                   disabled>
                            <label class="control-label" for="purchase-event">Ref</label>

                        </div>


                        <div class="form-floating col-sm-12 col-lg">
                            <input name="" class="form-control" id="" value="{{ event.fund}}" disabled>
                            <label class="control-label" for="">Fund</label>
                        </div>

                    </div>


                    <div class="po-container">
                        <table class="table">

                            <tbody>
                            <tr>
                                <th>Product</td>
                                <th class="text-end">Qty</td>
                                <th class="text-end">Unit Price</td>
                                <th class="text-end">Subtotal</td>
                            </tr>

                            {% if po_order_line %}
                            {% for order in po_order_line %}
                            <tr>
                                <td> {{ order.name }}</td>
                                <td align="right"> {{ "{:,.2f}".format(order.product_qty) }}</td>
                                <td align="right"> {{ "Rp. {:,.2f}".format(order.price_unit) }}</td>
                                <td align="right"> {{ "Rp. {:,.2f}".format(order.price_unit*order.product_qty) }}</td>

                            </tr>


                            {% endfor %}

                            <tr>
                                <th colspan="3">Grand Total</th>
                                <td align="right">{{"Rp. {:,.2f}".format(grand_total)}}</td>
                            </tr>
                            {% else %}
                            N/A
                            {% endif %}

                            </tbody>

                        </table>
                    </div>


                </div>
                <div class="tab-content" id="farmer">
                    <div class="farmer-data">
                        <div class="farmer-photo">
                            <img width="200px" height="200px"
                                 src="{{ url_for('static', filename='image/' ~ farmer.odoo_id ~ '.png') }}"
                                 alt="Farmer Photo"/>
                        </div>
                        <table id="farmer-detail">
                            <tbody>
                            <tr>
                                <th style="width: 180px;">Farmer Code</th>
                                <td>{{ farmer.code }}</td>
                            </tr>
                            <tr>
                                <th>Farmer Name</th>
                                <td>{{ farmer.farmer_name }}</td>
                                <input type="hidden" id="farmer_name" value="{{farmer.farmer_name}}">
                            </tr>

                            <tr>
                                <th>Farmer Group</th>
                                <td>{{ farmer.parent_name }}</td>
                            </tr>
                            <tr>
                                <th>Station</th>
                                <td>{{ farmer.station_name }}</td>
                            </tr>
                            <tr>
                                <th>Certification Status</th>
                                <td>{{ farmer.certification_status_name }}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- <div style="margin-bottom: 32px; margin-top: 24px;">
                        <h5>Product Possible to Purchase from This farmer based on Certification Status</h5>
                        <table>
                            <tbody>
                                {% for commodity_item in commodity_items %}
                                [{{ commodity_item.product_id_code }}] {{ commodity_item.product_id_name }} <br />
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> -->
                </div>
            </div>
        </div>
    </div>


</div>
<script>
    function btPrint3() {
        var SERVICE = '000018f0-0000-1000-8000-00805f9b34fb';
        var WRITE = '00002af1-0000-1000-8000-00805f9b34fb';
        var currentDate = new Date();
        var year = currentDate.getFullYear();
        var month = currentDate.getMonth() + 1;
        var day = currentDate.getDate();
        var formattedDate = year + "-" + (month < 10 ? "0" + month : month) + "-" + (day < 10 ? "0" + day : day);

        var code_petani = document.getElementById("farmer_code").value;
        var nama_petani = document.getElementById("farmer_name").value;
        let order_id = document.getElementById("purchase_order_id").value;
        let order_name = document.getElementById("purchase_order_name").value;
        let total_pokok = document.getElementById("total_pokok").value;
        let event_name = document.getElementById("purchase_event_id").value;
        let odoo_name = document.getElementById("purchase_order_odoo_id").value;
        let total_premium = document.getElementById("total_premium").value;
        let certification_status = document.getElementById("certification_status_id").value;


        function splitDataIntoChunks(data, chunkSize) {
            let chunks = [];
            for (let i = 0; i < data.length; i += chunkSize) {
                chunks.push(data.slice(i, i + chunkSize));
            }
            return chunks;
        }

        fetch(`/purchase/transaction/items?purchase_order=${order_id}`)
            .then(response => response.json())
            .then(data => {
                const purchaseData = data
                let table = "\n";
                for (const item of purchaseData) {
                    const productName = item.product_name.substring(0, 25);
                    // Format price and subtotal as IDR currency, remove Rp and spaces
                    const formattedPrice = new Intl.NumberFormat("id-ID", {
                        style: "currency",
                        currency: "IDR",
                        minimumFractionDigits: 0
                    }).format(item.price).replace(/Rp\s*/g, ""); // Remove "Rp" and any spaces

                    const formattedSubtotal = new Intl.NumberFormat("id-ID", {
                        style: "currency",
                        currency: "IDR",
                        minimumFractionDigits: 0
                    }).format(item.subtotal).replace(/Rp\s*/g, "");

                    table += `\n${item.product_code}\n${productName}\nRp.${formattedPrice}\n${item.quantity}\nRp.${formattedSubtotal}\n`;
                }

                const totalAmount = purchaseData.reduce((sum, item) => sum + item.quantity * item.price, 0);
                const formattedTotalAmount = new Intl.NumberFormat("id-ID", {
                    style: "currency",
                    currency: "IDR",
                    minimumFractionDigits: 0
                }).format(totalAmount).replace(/Rp\s*/g, "");
                const formattedTotalPremium = new Intl.NumberFormat("id-ID", {
                    style: "currency",
                    currency: "IDR",
                    minimumFractionDigits: 0
                }).format(total_premium).replace(/Rp\s*/g, "");
                const formattedTotalPokok = new Intl.NumberFormat("id-ID", {
                    style: "currency",
                    currency: "IDR",
                    minimumFractionDigits: 0
                }).format(total_pokok).replace(/Rp\s*/g, "");

                let DATA = ''
                    + 'TRIPPER\nWE ADD VALUE AT ORIGIN\n'
                    + '------------------------'

                let DATA2 = `
Order : ${order_name}
Tanggal : ${formattedDate}
ID Petani : ${code_petani}
Nama : ${nama_petani}
Certification : ${certification_status}
`
                let DATA3 = table
                let DATA4 = `\n Total : Rp ${formattedTotalAmount} \n`
                let DATA5 = `\n Total Premium : Rp ${formattedTotalPremium} \n`
                let DATA6 = `\n Total Pokok : Rp ${formattedTotalPokok} \n`
                // DATA += `Total\t :${formattedTotalAmount}`


                navigator.bluetooth.requestDevice({filters: [{services: [SERVICE]}]}).then(device => {
                    return device.gatt.connect();
                }).then(server => {
                    return server.getPrimaryService(SERVICE);
                }).then(service => {
                    return service.getCharacteristic(WRITE);
                }).then(characteristic => {
                    // Combine your data into a single string
                    let allData = DATA + DATA2 + DATA3 + DATA4 + DATA5 + DATA6;

                    // Split the data into chunks
                    let chunks = splitDataIntoChunks(allData, 128);

                    // Function to send a chunk and then send the next chunk
                    function sendNextChunk() {
                        return new Promise((resolve, reject) => {
                            function processChunk() {
                                if (chunks.length > 0) {
                                    let chunk = chunks.shift();
                                    characteristic.writeValue(new TextEncoder("utf-8").encode(chunk)).then(() => {
                                        processChunk(); // Send the next chunk
                                    }).catch(error => {
                                        reject(error);
                                    });
                                } else {
                                    resolve();
                                }
                            }

                            processChunk(); // Start processing chunks
                        });
                    }

                    // Function to split image data into chunks
                    function splitImageDataIntoChunks(data, chunkSize) {
                        let chunks = [];
                        for (let i = 0; i < data.length; i += chunkSize) {
                            chunks.push(data.slice(i, i + chunkSize));
                        }
                        return chunks;
                    }

                    // Function to get image print data
                    function getImagePrintData(image_id) {
                        let image = document.querySelector(`#${image_id}`);
                        let canvas = document.createElement('canvas');
                        canvas.width = 360;
                        canvas.height = 190;
                        let context = canvas.getContext("2d");
                        let imageWidth = canvas.width / 2;
                        let imageHeight = imageWidth / 966 * 950;
                        let offsetX = (canvas.width - imageWidth) / 2 + 1;
                        context.drawImage(image, offsetX, 0, imageWidth, imageHeight);
                        let imageData = context.getImageData(0, 0, canvas.width, canvas.height).data;

                        function getDarkPixel(x, y) {
                            let red = imageData[((canvas.width * y) + x) * 4];
                            let green = imageData[((canvas.width * y) + x) * 4 + 1];
                            let blue = imageData[((canvas.width * y) + x) * 4 + 2];
                            return (red + green + blue) > 0 ? 1 : 0;
                        }

                        let printData = new Uint8Array(canvas.width / 8 * canvas.height + 8);
                        let offset = 0;
                        printData[0] = 29;
                        printData[1] = 118;
                        printData[2] = 48;
                        printData[3] = 0;
                        printData[4] = canvas.width / 8;
                        printData[5] = 0;
                        printData[6] = canvas.height % 256;
                        printData[7] = canvas.height / 256;
                        offset = 7;
                        for (let i = 0; i < canvas.height; ++i) {
                            for (let k = 0; k < canvas.width / 8; ++k) {
                                let k8 = k * 8;
                                printData[++offset] = getDarkPixel(k8 + 0, i) * 128 + getDarkPixel(k8 + 1, i) * 64 +
                                    getDarkPixel(k8 + 2, i) * 32 + getDarkPixel(k8 + 3, i) * 16 +
                                    getDarkPixel(k8 + 4, i) * 8 + getDarkPixel(k8 + 5, i) * 4 +
                                    getDarkPixel(k8 + 6, i) * 2 + getDarkPixel(k8 + 7, i);
                            }
                        }
                        return printData;
                    }

                    // Function to send image data chunks sequentially
                    function sendImageDataChunks(characteristic, chunks) {
                        return new Promise((resolve, reject) => {
                            function sendNextChunk() {
                                if (chunks.length > 0) {
                                    let chunk = chunks.shift();
                                    characteristic.writeValue(chunk).then(() => {
                                        sendNextChunk(); // Send the next chunk
                                    }).catch(error => {
                                        reject(error);
                                    });
                                } else {
                                    resolve();
                                }
                            }
                            sendNextChunk(); // Start sending chunks
                        });
                    }

                    // Start sending data chunks and then image data chunks
                    let imageData = getImagePrintData('sig-qr');
                    let imageChunks = splitImageDataIntoChunks(imageData, 128);

                    let imageData2 = getImagePrintData('sig-image');
                    let imageChunks2 = splitImageDataIntoChunks(imageData2, 64);
                    return sendImageDataChunks(characteristic, imageChunks).then(() => {
                        return sendNextChunk().then(() => {
                            return sendImageDataChunks(characteristic, imageChunks2)
                        })
                    }).then(() => {
                        console.log('Data and image sent successfully');
                    }).catch(error => {
                        console.error('Error:', error);
                    });
                }).catch(error => {
                    console.error('Error connecting to device:', error);
                }).then(() => {
                    let purchaseOrderId = document.getElementById("purchase_order_id").value;

                    fetch(`/purchase/transaction/confirm2?purchase_order=${purchaseOrderId}`, {
                        method: 'GET',
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.status === 200) {
                                window.location.reload();
                            } else {
                                console.error('Failed to confirm transaction:', data.message);
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }).catch(error => {
                    console.error('Error connecting to device:', error);
                });

            })
    }


</script>
<script>
    (function () {
        window.requestAnimFrame = (function (callback) {
            return window.requestAnimationFrame ||
                window.webkitRequestAnimationFrame ||
                window.mozRequestAnimationFrame ||
                window.oRequestAnimationFrame ||
                window.msRequestAnimaitonFrame ||
                function (callback) {
                    window.setTimeout(callback, 1000 / 60);
                };
        })();

        var canvas = document.getElementById("sig-canvas");
        var ctx = canvas.getContext("2d");
        ctx.strokeStyle = "#222222";
        ctx.lineWidth = 4;

        var drawing = false;
        var mousePos = {
            x: 0,
            y: 0
        };
        var lastPos = mousePos;

        canvas.addEventListener("mousedown", function (e) {
            drawing = true;
            lastPos = getMousePos(canvas, e);
        }, false);

        canvas.addEventListener("mouseup", function (e) {
            drawing = false;
        }, false);

        canvas.addEventListener("mousemove", function (e) {
            mousePos = getMousePos(canvas, e);
        }, false);

        // Add touch event support for mobile
        canvas.addEventListener("touchstart", function (e) {

        }, false);

        canvas.addEventListener("touchmove", function (e) {
            var touch = e.touches[0];
            var me = new MouseEvent("mousemove", {
                clientX: touch.clientX,
                clientY: touch.clientY
            });
            canvas.dispatchEvent(me);
        }, false);

        canvas.addEventListener("touchstart", function (e) {
            mousePos = getTouchPos(canvas, e);
            var touch = e.touches[0];
            var me = new MouseEvent("mousedown", {
                clientX: touch.clientX,
                clientY: touch.clientY
            });
            canvas.dispatchEvent(me);
        }, false);

        canvas.addEventListener("touchend", function (e) {
            var me = new MouseEvent("mouseup", {});
            canvas.dispatchEvent(me);
        }, false);

        function getMousePos(canvasDom, mouseEvent) {
            var rect = canvasDom.getBoundingClientRect();
            return {
                x: mouseEvent.clientX - rect.left,
                y: mouseEvent.clientY - rect.top
            }
        }

        function getTouchPos(canvasDom, touchEvent) {
            var rect = canvasDom.getBoundingClientRect();
            return {
                x: touchEvent.touches[0].clientX - rect.left,
                y: touchEvent.touches[0].clientY - rect.top
            }
        }

        function renderCanvas() {
            if (drawing) {
                ctx.moveTo(lastPos.x, lastPos.y);
                ctx.lineTo(mousePos.x, mousePos.y);
                ctx.stroke();
                lastPos = mousePos;
            }
        }

        // Prevent scrolling when touching the canvas
        document.body.addEventListener("touchstart", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
        }, false);
        document.body.addEventListener("touchend", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
        }, false);
        document.body.addEventListener("touchmove", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
        }, false);

        (function drawLoop() {
            requestAnimFrame(drawLoop);
            renderCanvas();
        })();

        function clearCanvas() {
            canvas.width = canvas.width
            canvas.height = canvas.height
        }

        // Set up the UI
        var sigText = document.getElementById("sig-dataUrl");
        var sigImage = document.getElementById("sig-image");
        var clearBtn = document.getElementById("sig-clearBtn");
        var submitBtn = document.getElementById("sig-submitBtn");
        clearBtn.addEventListener("click", function (e) {
            clearCanvas();
        }, false);
        submitBtn.addEventListener("click", function (e) {
            let po = document.getElementById("purchase_order_id").value
            let signature = canvas.toDataURL();
            let formData = new FormData();
            formData.append('po', po);
            formData.append('signature', signature);

            fetch('/purchase/order/add-signature', {
                method: 'POST',
                body: formData
            }).then(response => response.json())
                .then(data => {
                    window.location.reload()
                }).catch(error => {
                console.error('Error:', error);
            });
        }, false);

    })();

</script>
<script src="{{ url_for('static', filename='/js/tools/print_purchase.js') }}"></script>
<script src="{{ url_for('static', filename='/js/purchase/purchase.js') }}"></script>


</body>

</html>