<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/bootstrap/css/bootstrap.css') }}"
          type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/sweetalert2/sweetalert2.css') }}"
          type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/delivery/delivery.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/purchase/transaction.css') }}">
    <script src="{{ url_for('static', filename='/assets/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='/assets/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='/assets/sweetalert2/sweetalert2.js') }}"></script>
    <script src="{{ url_for('static', filename='/assets/quanggaJS/quanggaJS.js') }}"></script>
</head>
<body>
<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1>Add Produdct</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <form action="/purchase/transaction/add" method="POST">
                <input type="hidden" name="po" value="{{ datas['po'] }}">
                <input type="hidden" name="pe" value="{{ datas['pe'] }}">
                <input type="hidden" name="farmer_id" value="{{ datas['farmer_id'] }}">
                <div class="form-group">
                    <div>
                        <table id="product-options" class="table">
                            <tr>
                                <td>
                                    <div class="control-label">Product</div>
                                </td>
                            </tr>

                            {% for product in product_can_purchase %}
                            <tr>
                                <td>
                                    <div class="form-check">
                                            <input class="form-check-input" type="radio" name="product"
                                               id="product-{{ product.product_id }}"
                                               value="{{ product.product_id }}"
                                               data-price="{{ product.commodityitem_price }}"
                                               onchange="updatePrice(this)"

                                            >

                                        <label class="form-check-label"
                                               for="product-{{ product.product_id }}" style="width:80%">
                                            {{ product.product_name }}
                                        </label>
                                        <img src="https://odoo.tripper.com/nfcapp/web/image?model=nfcapp.iconcommodity&id=13&field=icon"
                                             width="50"/>
                                    </div>
                                </td>
                            </tr>

                            {% endfor %}

                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <label for="qty">Quantity</label>
                    <input type="number" class="form-control" id="qty" name="qty" value=""
                           step="0.01">
                </div>
                <div class="form-group">
                    <label for="price-unit">Unit Price</label>
                    <input type="number" class="form-control" id="price-unit" name="price-unit"
                           value="}" step="0.01" readonly>
                </div>

                <div class="form-group">
                    <label for="subtotal">Subtotal</label>
                    <input type="number" class="form-control" id="subtotal" name="subtotal"
                           value="" step="0.01" readonly>
                </div>

                <div class="form-group">
                    <label for="barcode">Barcode</label>
                    <input type="text" class="form-control" id="barcode" name="barcode"
                           value="">
                </div>
                <br/>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
        </div>
    </div>
</div>
<script>
    function updatePrice(radio) {
        let price = radio.getAttribute('data-price');
        document.getElementById('price-unit').value = price;
        calculateSubtotal();
    }

    function calculateSubtotal() {
        // Get the unit price and quantity
        var price = parseFloat(document.getElementById('price-unit').value);
        var qty = parseFloat(document.getElementById('qty').value);
        // Calculate the subtotal
        var subtotal = price * qty;
        // Update the subtotal input field
        document.getElementById('subtotal').value = subtotal.toFixed(2);
    }

    document.addEventListener('DOMContentLoaded', function () {
        // Attach event listeners to the quantity input and radio buttons
        document.getElementById('qty').addEventListener('input', calculateSubtotal);
        var productRadios = document.querySelectorAll('input[name="product"]');
        productRadios.forEach(function (radio) {
            radio.addEventListener('change', function () {
                updatePrice(radio);
            });
        });
    });
</script>

</body>
</html>
