<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/bootstrap/css/bootstrap.css') }}"
          type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/sweetalert2/sweetalert2.css') }}"
          type="text/css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/css/delivery/delivery.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/boxicons/css/boxicons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/purchase/transaction.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/tools/scanner.css') }}">
    <script src="{{ url_for('static', filename='/assets/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='/assets/html5-qrcode/js/html5-qrcode.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/assets/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='/assets/sweetalert2/sweetalert2.js') }}"></script>
    <script src="{{ url_for('static', filename='/assets/quanggaJS/quanggaJS.js') }}"></script>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <a href="/purchase/order?po={{purchase_order_line.purchase_order_id}}&farmer={{farmer_id}}" class="btn back-btn" style="width: fit-content;"><span><i class='bx bx-chevron-left bx-md'></i></span></a>
            <span style="font-weight: bold; font-size: 20px; margin-left: 16px;">Edit Product</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form action="/purchase/transaction/update" method="POST">
                        <input type="hidden" name="transaction" value="{{ purchase_order_line.id }}">
                        <div class="form-group">
                            <div>

                                <table id="product-options" class="table">
                                    <tr>
                                        <td>
                                            <div class="control-label">Product</div>
                                        </td>
                                    </tr>

                                    {% set ori_product_id = ProductOdoo.query.filter_by(id=purchase_order_line.product_odoo_id).first().odoo_id %}

                                    {% for product in product_can_purchase %}
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="product"
                                                    id="product-{{ product.product_id }}"
                                                    value="{{ product.product_id }}"
                                                    data-price="{{ product.commodityitem_price }}"
                                                    data-commodity_name="{{ product.commodity_name }}"
                                                    data-variant="{{ product.variant }}"
                                                    onchange="updatePrice(this)"
                                                    {% if product.product_id == ori_product_id %}checked{% endif %}
                                                    required
                                                >
                                                <label class="form-check-label"
                                                    for="product-{{ product.product_id }}" style="width:80%">
                                                         <h5>{{ product.commodity_name }} {{ product.variant }}</h5> <p style="font-size:8px"> {{ product.product_id_code }}</p>


                                                </label>
                                            </div>
                                        </td>
                                    </tr>

                                    {% endfor %}

                                </table>
                            </div>
                        </div>
                               <input type="hidden" class="form-control" id="commodity_name" name="commodity_name" value="{{ product.commodity_name }}" required>
                        <input type="hidden" class="form-control" id="variant" name="variant" value="{{ product.variant }}" required>
                        <div class="form-group">
                            <label for="qty">Quantity</label>
                            <input type="number" class="form-control" id="qty" name="qty" value="{{ purchase_order_line.qty }}"
                                step="0.01" required>
                        </div>
                        <div class="form-group">
                            <label for="price-unit">Unit Price</label>
                            <input type="number" class="form-control" id="price-unit" name="price-unit"
                                value="{{ purchase_order_line.unit_price }}" step="0.01" readonly>
                        </div>
                             <div class="form-group">
                            <label for="subtotal">Subtotal</label>
                            <input type="number" class="form-control" id="subtotal" name="subtotal"
                                value="{{ purchase_order_line.subtotal }}" step="0.01" readonly>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-9 col-sm-11">
                                    <label for="barcode">Barcode</label>
                                    <input type="text" class="form-control" id="barcode" name="barcode" value="{{ purchase_order_line.barcode }}" required>
                                </div>
                                <div class="col-3 col-sm-1 d-flex justify-content-right">
                                    <button type="button" class="btn btn-primary" onclick="startScanQR('barcode')" style="margin-top: 23px;">
                                        <span><i class="bx bx-scan"></i></i></span>
                                    </button>
                                </div>
                                
                            </div>
                            
                        </div>

                        <div class="modal fade" id="scannerModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <h5 class="modal-title">QR Scanner</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="stopScanQR()">
                                            <span><i class='bx bx-x bx-md'></i></span>
                                        </button>

                                    </div>
                                    <div class="modal-body">
                                        <div style="width: 100%;" id="reader"></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                           <div class="form-group">
                            <label for="note">Note</label>
                            <input type="text" class="form-control" id="note" name="note" value="{{ purchase_order_line.note }}">
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function updatePrice(radio) {
        let price = radio.getAttribute('data-price');
        let commodity_name = radio.getAttribute('data-commodity_name');
        let variant = radio.getAttribute('data-variant');
        document.getElementById('price-unit').value = price;
        document.getElementById('commodity_name').value = commodity_name;
        document.getElementById('variant').value = variant;
        calculateSubtotal();
    }

    function calculateSubtotal() {
        // Get the unit price and quantity
        var price = parseFloat(document.getElementById('price-unit').value);
        var qty = parseFloat(document.getElementById('qty').value);
        // Calculate the subtotal
        var subtotal = price * qty;
        // Update the subtotal input field
        document.getElementById('subtotal').value = subtotal.toFixed(2);
    }

    document.addEventListener('DOMContentLoaded', function () {
        // Attach event listeners to the quantity input and radio buttons
        document.getElementById('qty').addEventListener('input', calculateSubtotal);
        var productRadios = document.querySelectorAll('input[name="product"]');
        productRadios.forEach(function (radio) {
            radio.addEventListener('change', function () {
                updatePrice(radio);
            });
        });
    });
</script>

<script src="{{ url_for('static', filename='/js/tools/scanner.js') }}"></script>

</body>
</html>
