{% extends 'base.html' %}
{% block title %}
    Master Data
{% endblock %}
{% block plugin %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/event.css') }}">

{% endblock %}

{% block header %}
    <b>Master Data</b>
{% endblock %}

{% block content %}
    <span id="selected-menu" style="display: none;">master_data</span>

    <div class="card">

        <div class="card-body">
            <div class="event-container">

                <table class="table event-table" style="width: 100%; margin-top: 32px;">
                    <tr>
                        <th>
                            Farmer
                        </th>
                        <th>
                            Item Codes / Product
                        </th>
                    </tr>
                    {% for farmer in farmer_data %}
                        <tr>
                            <td>{{ farmer.farmer_name }}</td>
                            <td>
                                {% if farmer.item_code_list %}
                                    {% for code in farmer.item_code_list %}
{#                                        {% set item = NfcappCommodityItemOdoo.query.filter_by(odoo_id=code).first() %}#}
                                        {{ code.item }} / {{ code.product }} <br/>
                                    {% endfor %}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>

{% endblock %}

{% block script_plugin %}

{% endblock %}